.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(234, 234, 234);
  padding: 10px 0px;
  margin-bottom: 20px;
}

.logo {
  width: 45px;
  margin-left: 40px;
}

.header div {
  display: flex;
}

.header span {
  display: flex;
  align-items: center;
  columns: grey;
  height: 50px;
}

.header span p {
  margin-right: 5px;
  font-size: 0.9rem;
}

.button {
  background-color: #a62626;
  color: #fff;
  height: 40px;
  width: 80px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  margin-right: 40px;
}

.hidden {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 80px;
  align-items: center;
  z-index: 1;
  color: rgba(0, 0, 0, 0.56);
}

.header ul {
  width: 200px;
  background-color: white;
  position: absolute;
  top: 65px;
  list-style: none;
  margin-right: 5px;
  font-size: 0.9rem;
  border-radius: 4px;
  box-shadow: 4px 4px 10px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 10px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 10px -7px rgba(0, 0, 0, 0.75);
  z-index: 10px;
}

.header ul li {
  padding: 5px 10px;
  margin: 5px 0;
  cursor: pointer;
}
